{% extends 'base.html' %}
{% load static  %}
{% load i18n %}
   {% block title  %} details produit{% endblock %}


   
   {%  block content %}
   <div class="row">
    <div class="col-md-6">
      <div>
        <img src="{{  produit.image  }}" width="500px" height="500px">
      </div>
    </div>
    <div class="col-md-6">
      <div class="text-warning display-3">
       {{ produit.title }}
      </div>
      <div class="text-danger">
        prix: ${{ produit.price }}
      </div>
      <div>
        {{ produit.description }}
      </div>
      <a href="#"><button class="btn btn-success">Acheter</button></a>
    </div>
  </div>

 {%  endblock  %}